.header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    padding: 1rem 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo a {
    font-family: var(--font-monospace);
    font-size: 0.9375rem;
    font-weight: 500;
}

.logo img {
    width: 45px;
    background-color: var(--text);
    border-radius: 50%;
    padding: 0.25rem;
}

.logo span {
    color: var(--accent-wine);
    animation: blink 1.5s step-end infinite; 
}

.menu ul {
    display: flex;
}

.menu ul li {
    font-size: 0.875rem;
    color: var(--text);
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

body[data-page="feed"] [data-link="feed"] a,
body[data-page="about"] [data-link="about"] a {
    color: var(--accent-wine);
    font-weight: 500;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


@media (min-width: 640px) {
    .logo a {
        font-size: 1.125rem;
    }

    .menu ul li {
        font-size: 1rem;
    }
}